/* Card.css */

/* #about{
  height: 75vh;
} */

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 140px;
    margin-left: 200px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  .card1 {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h1 {
    color: #333;
  }
  
  p {
    color: #666;
    font-size: 18px;
    text-align: justify;
  }
  ul {
    list-style: none; /* Remove default list styles */
    padding: 20px;
    display: flex; /* Use flexbox for layout */
    justify-content: center;
}
li {
    
    margin-right: 20px; 
    margin-left: 20px;
}


.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
}

.image-container {
  flex: 1;
  margin-right: 20px; 

}

.image-container img {
  width: 100%;
  border-radius: 8px; 
}

.content-container1 {
  flex: 2;
}

@media (max-width: 768px) {
    .card, .card1 {
      margin: 0px; 
    }
    /* #about{
      height: 100vh;
    } */

    .about-container {
      flex-direction: column; /* Stack flex items vertically on smaller screens */
      align-items: stretch; /* Stretch items to fill the container */
    }
  
    .image-container {
      margin-right: -12px;
      margin-bottom: 20px; 

    }
  
    .content-container1 {
      flex: 1; /* Take up full width on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    ul {
      flex-direction:row; /* Change the direction for smaller screens */
      align-items: center;
    }
    
    li {
      margin: 10px; /* Adjust spacing for smaller screens */
    }
    li svg {
        width: 25px; 
        height: 25px;
    }
    /* #about{
      height: 100vh;
    } */
  }
  