.contact-form {
    max-width: 730px;
    margin:auto;
    margin-top: 35px;
    margin-bottom: 75px;
  }

  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }

  input{
    text-align: left;
  }
  #message {
    height: 185px;
}

  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #006B6A; /* Border color corrected */
    border-radius: 4px;
    box-sizing: border-box;
  }
  .border-color{
    width: 100%;
    padding: 8px;
    border: 1px solid #006B6A; /* Border color corrected */
    border-radius: 4px;
    box-sizing: border-box;
    }
  
  .error-border {
    border-color: #006B6A;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .submit-button {
    background-color: #006B6A;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .contact-form {
        margin: 10px;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .form-control,
    .border-color {
        width: calc(100% - 16px);
    }

   
}