/* Your existing styles */

/* Style the navbar container */
.navbar {
    padding: 10px; /* Padding around the content */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Center items vertically */
    border: 1px solid;
    border-color: #cce6f0;
}


.nav-link{
    padding-top: 5px;
    padding-bottom: 5px;
}
.link1{
    text-decoration: none;
    color: black;
}

/* Style the heading element */
.navbar h4 {
    margin-left: 20px; /* Remove default margin */
    color: #006B6A;
}

/* Style the navigation list */
.navbar ul {
    list-style: none; /* Remove default list styles */
    display: flex; /* Use flexbox for layout */
}

/* Style the list items */
.navbar li {
    margin-right: 20px; /* Add spacing between list items */
    margin-left: 20px;
}

/* Style the button */
.navbar button {
    background-color: #006B6A; /* Button background color */
    color: white; /* Button text color */
    /* padding: 2px 12px;  */
    border: none; /* Remove default button border */
    border-radius: 4px; /* Optional: Add border radius for rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    margin-right: 20px;
    &:hover {
        background-color: #035453;
      }
      text-wrap: nowrap; /* Deprecated, use white-space */
      white-space: nowrap; /* Prevent text wrapping */
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto; 
    }
    
/* New styles for responsive navbar */
@media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .navbar {
      flex-direction: row;
    }
  
    .hamburger {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      margin-top: 10px;
    }
   

    /* Display li and button in a row for desktop view */
    .nav-links ul {
      flex-direction: column;
      align-items: center;
    }

    .nav-links li {
      margin: 0 10px; /* Adjust spacing between list items */
    }

    .navbar button {
        margin-right: 34%;
}

/* Add this to your existing styles */

/* Push home page content when the navbar is open */
.push-content {
    transform: translateX(0);
    transition: transform 0.3s ease;
  }
  
  .nav-links.open + .push-content {
    transform: translateX(250px); /* Adjust the value based on your design */
  }
  

}
